@import "variables";
@import "breakpoints";

.modalText {
  h1 {
    color: $primary-colour;

    @include respond-to("xs") {
      font-size: 1.2rem;
    }

    @include respond-to("md") {
      font-size: 1.25rem;
    }

    @include respond-to("lg") {
      font-size: 1.8rem;
    }

    @include respond-to("xl") {
      font-size: 2.5rem;
    }
  }

  p {
    color: #303120;

    @include respond-to("xs") {
      font-size: 1rem;
    }

    @include respond-to("md") {
      font-size: 1.1rem;
    }

    @include respond-to("lg") {
      font-size: 1.4rem;
    }

    @include respond-to("xl") {
      font-size: 1.75rem;
    }
  }

  h3 {
    color: $primary-colour;
    @include respond-to("xs") {
      font-size: 1.05rem;
    }

    @include respond-to("md") {
      font-size: 1.25rem;
    }

    @include respond-to("lg") {
      font-size: 1.5rem;
    }

    @include respond-to("xl") {
      font-size: 2rem;
    }
  }

  hr {
    margin-bottom: 10px;
  }
}

.title {
  color: $primary-colour;
  font-weight: 650;

  @include respond-to("xs") {
    font-size: 1.45rem;
  }

  @include respond-to("md") {
    font-size: 1.5rem;
  }

  @include respond-to("lg") {
    font-size: 2.25rem;
  }

  @include respond-to("xl") {
    font-size: 3rem;
  }
}

.purchaseButton {
  background-color: $secondary-colour;
  margin-bottom: 10px;
  color: $primary-colour;

  &:hover {
    background-color: $secondary-colour-light;
  }

  @include respond-to("xs") {
    width: 40%;
    font-size: 0.75rem;
  }

  @include respond-to("md") {
    width: 20%;
    font-size: 0.8rem;
  }

  @include respond-to("lg") {
    width: 25%;
    font-size: 1rem;
  }
}
