@import "variables";
@import "breakpoints";

.about {
  color: $secondary-colour;
  margin: 0 auto;
  margin-bottom: 75px;
  display: flex; /* or use 'display: grid;' for grid layout */
  flex-direction: column; /* For flexbox, align items vertically */
  align-items: center; /* For flexbox, centers items horizontally */
  text-align: center; /* Aligns text inside the container horizontally */
  background-color: #42454923;
  border-radius: 50px;
  width: 85%;
  min-height: min-content;

  h2 {
    color: $secondary-colour;
    font-size: 4rem;

    @include respond-to("xs") {
      font-size: 1.75rem;
      margin-top: 50px;
    }

    @include respond-to("md") {
      font-size: 3rem;
      margin: 50px;
    }

    @include respond-to("lg") {
      font-size: 4.5rem;
      margin: 50px;
    }

    @include respond-to("xl") {
      font-size: 5rem;
      margin: 50px;
    }
  }
}

.description {
  width: 80%;

  @include respond-to("xs") {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 10%;
  }

  @include respond-to("md") {
    font-size: 1.5rem;
    margin-top: 3%;
  }

  @include respond-to("lg") {
    font-size: 1.75rem;
    margin-top: 2%;
  }
}

.team {
  text-align: center;
  width: 100%;

  @include respond-to("xs") {
    margin-bottom: 30px;
  }

  @include respond-to("md") {
    margin-bottom: 50px;
  }
}

.teamMembers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;

  @include respond-to("xs") {
    flex-direction: column;
    align-items: center;
  }

  @include respond-to("lg") {
    flex-direction: row;
  }
}

.teamMember {
  text-align: center;
  position: relative;
  transition: all 0.2s ease;

  @include respond-to("xs") {
    margin-top: 20px;
  }

  @include respond-to("md") {
    margin-bottom: 0px;
  }

  @include respond-to("lg") {
    margin-bottom: 0px;
  }

  &:hover {
    width: 400px;
    height: 450px;
    border-radius: 10px;
    background-color: $secondary-colour;

    @include respond-to("xs") {
      width: 250px;
      height: 375px;
      margin-top: 60px;
    }

    @include respond-to("sm") {
      width: 300px;
      height: 350px;
      margin-top: 60px;
    }

    @include respond-to("md") {
      width: 375px;
      height: 400px;
      margin-top: 60px;
    }

    @include respond-to("lg") {
      width: 350px;
      height: 475px;
    }
  }

  &:not(:hover) {
    transition: width 0s, height 0s; /* Immediate transition */
  }

  &:hover .memberInfo {
    display: block;
  }

  &:hover .imgContainer {
    transform: translateY(-50px); /* Move up by 50px */
    transition: all 0.3s ease; /* Smooth transition */
  }

  &:hover .memberInfo h3 {
    color: #282b30;
    transform: translateY(-50px); /* Move up by 50px */
  }

  &:not(:hover) .memberInfo h3 {
    transition: width 0s, height 0s; /* Immediate transition */ /* Immediate transition */
  }

  &:hover .memberInfo h4,
  &:hover .memberInfo p {
    display: block;
    color: #282b30;
    transform: translateY(-50px); /* Move up by 50px */
  }
}

.imgContainer {
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(77, 81, 85, 0.917);
  border: 7.5px solid $secondary-colour;

  @include respond-to("xs") {
    width: 100px;
    height: 100px;
  }

  @include respond-to("md") {
    width: 150px;
    height: 150px;
  }

  @include respond-to("lg") {
    width: 200px;
    height: 200px;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.memberInfo {
  text-align: center;
  width: 95%;
  margin: auto;

  h3 {
    margin: 5px 0;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.3s ease;

    @include respond-to("xs") {
      font-size: 1.2rem;
    }

    @include respond-to("md") {
      font-size: 1.5rem;
    }
  }

  h4 {
    margin: 5px 0;
    display: none;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 1.5rem;

    @include respond-to("xs") {
      font-size: 1.2rem;
    }

    @include respond-to("md") {
      font-size: 1.5rem;
    }
  }

  p {
    margin: 10px 0;
    display: none;
    transition: all 0.3s ease;

    @include respond-to("xs") {
      font-size: 0.9rem;
    }

    @include respond-to("md") {
      font-size: 1rem;
    }
  }
}
