.filters_modal {
  background-color: #000000cc;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%); /* Start off-screen */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  z-index: 1000; /* Ensure the modal is above other content */
}

.filters_modal.show {
  transform: translateX(0); /* Move modal into view */
}

.filters_modal_content {
  padding: 20px;
  /* Add any additional styling for the content */
}
